.App {
  text-align: center;
  background: #FEAC5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header{
  background:rgba(0,0,0,0.3);
  border-bottom:1px solid white;
  height: 2.5rem;
  display:flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size:1.2rem;
  color:white;
  font-weight: bold;
}
.logo{
  height:1.8rem;
  width:1.8rem;
  margin-right:10px;
  background: url(./img/wfhparrot.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.text-input{
  background:rgba(0,0,0,0.3);
  border-top:1px solid white;
  height:3.5rem;
  display:flex;
  justify-content:center;
  align-items:center;
}
button{
  position:absolute;
  right:1.5rem;
  border-radius:100%;
  width: 1.75rem;
  height: 1.75rem;
  background-color:white;
  background-image: url(./img/up-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.message{
  position:absolute;
  bottom:5rem;
  width:fit-content;
  padding:0.75rem 1rem;
  background-color:black;
  border-radius:1.2rem;
  color:white;
  margin: 1.5rem 2rem;
  text-align:left;
}
.arrow-left {
  position:absolute;
  bottom:7rem;
  width: 0; 
  height: 0; 
  border-top: 0.75rem solid transparent;
  border-bottom: 0.75rem solid transparent; 
  border-right:1rem solid black;
  margin: 0rem 1.5rem;
}
input{
  font: 1rem Karla;
  color:white;
  background-color:rgba(0,0,0,0.8);
  border-radius:1.2rem;
  width:100vw;
  margin:0 1.5rem;
  height:1.75rem;
  padding:0 1rem;
}